.container {
	width: 100%;
	display: flex;
}

.banner {
	height: 100vh;
}

.banner img {
	height: 100%;
	object-fit: cover;
}

.containerDropdown {
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;       
   	background-image: url(../../assets/img/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: 94.5% center;

	background-color: #53cd81;
	width: 435px;
	height: 50px;
	font-size: 18px;
	border-radius: 20px;
	margin-bottom: 48px;

	padding: 0 1.25rem;
}

.dropdown {
	background-color: white;
}

.title {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 70px;
}

.title p {
	font-size: 18px;
	font-weight: 400;
}
.containerForm {
	width: 100%;
	display: flex;
	justify-content: center;
}

.form {
	max-width: 435px;
}

input {
	height: 50px;
	width: 435px;
	outline: 0;
	border: none;
	font-size: 18px;
	position: relative;
	border: 2px solid rgb(44, 44, 44);
	border-radius: 20px;
	padding: 0 20px;
}

.icon {
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	right: 20px;
}

.formInput {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	border-radius: 20px;
	position: relative;
}

input:focus {
	border: 3px solid #4b00ff;
}
