.container {
	padding: 3rem 3rem 3rem 28rem;
}

.button {
	display: flex;
	justify-content: flex-end;
}

.searchbar {
	display: flex;
	justify-content: flex-end;
}

.outer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}
