.header_container{
    display: flex;
    align-items: center;
}

.icon{
    transform: scale(0.6);
}

.header{
    font-weight: 700;
    font-size: 2rem;
    color: #358C56;
}

.step_container{
    margin: 4rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.step_container hr{
    border-radius: 30px;

    height: 5px;
    width: 164px;
    background-color: #757575;
}

.step_group{
    display: flex;
    justify-content: center;
    align-items: center;
}