.searchbar {
	width: 513px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 40px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerDropdown {
	margin: 0;
	background-color: #358c56;
	padding: 0 22px;
	color: white;
	font-weight: 600;
	line-height: 24px;
	width: 207px;
	height: 100%;
	border: none;
	outline: 0;
	appearance: none;
	background-image: url('../../assets/img/filter_icon.svg');
	background-repeat: no-repeat;
	background-position: 94.5% center;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.dropdown {
	background-color: white;
	color: #53cd81;
	font-size: 18px;
	font-weight: 400;
	padding: 15px 0;
	padding-left: 24px;
	padding-left: 42px;
}

.containerSearch {
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
}
.search {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #6f6f6f;
	border: none;
	outline: 0;
	background-color: transparent;
	padding-left: 50px;
}

.icon {
	margin: 0 12px;
	position: absolute;
	left: 0;
}
